.container1{
    color: #d1d1d1;
    background-color: #212529;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.flex{
    display: flex;
}
.cont{
    justify-content: center;
    align-items: center;
}

#body-h{
    background-image: url(../assets/img/Fundo_Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#body-l{
    background-color: #212529;
}

.img-lateral{
     flex: 0 0 55%;            
    background-image: url(../img/Metro-logo-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 220px;
    border-radius: 35px;
}

#body-c {
     background-color: #ffffff; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 0;
    background-image: url(../img/metro_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    align-items: center;
    justify-content: center;
}
.card-cadastro {
    background: #000000;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    max-width: 950px;
    width: 100%;
    color: white;
}

.titulo-pagina {
    font-weight: 700;
    color: #000000;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: white;
}

.subtitulo {
    font-size: 0.95rem;
    color: #000000;
    margin-bottom: 30px;
    color: white;
}

.form-label {
    font-weight: 500;
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: 6px;
    color: white;
}

.form-control {
    border: 1px solid #dee2e6;
    padding: 10px 12px;
    border-radius: 6px;
    transition: border-color 0.2s ease-in-out;
    color: white;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.15);
    color: white;
}

.btn-cadastrar {
    background-color: #0d6efd;
    border: none;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    transition: background-color 0.3s;
    color: white;
}

.btn-cadastrar:hover {
    background-color: #0b5ed7;
    color: white;
}
