.container1{
    color: #d1d1d1;
    background-color: #212529;
    min-height: 100vh;
    padding-left: 330px;
    padding-top: 250px;
}
.flex{
    display: flex;
}
.cont{
    justify-content: center;
    align-items: center;
    
}
.nav-direita{
    padding-top: 10px;
    display: flex;
    
}
.navbar{
    display: grid;
    grid-template-columns: auto 155px;

}
.nav-login{
    font-size: 25px;
    padding-top: 15px;
    color: #d1d1d1;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-user{
  
}
.cont-nav{
    background-color: #151618;
    
    margin: 0;
    padding: 0;

}
.title{
    padding-top: 150px;
    padding-left: 90px;
    
    display: flex;
}
.description{
   padding-left: 95px; 
   padding-right: 400px;
   font-family: monospace;
   font-size: large;
}
.subcontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding-left: 95px;
    font-family: monospace;
    font-size: large;
    h3{
        padding-top: 10px;
        border-top: 2px solid #ffffff9f;
        margin-right: 210px;
    }
}
.card{
    padding-top: 90px;
    
}
.container{
    padding-right: 840;
}
.container2{
    padding-right: 800;
}
.IA{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.part-1{
    background-image: url(../img/Fundo_Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
}
.part-2{

}
.ops{
    display: grid;
    grid-template-columns: auto auto;
}
.op1{
    background-image: url(../img/Metro\ DF\ \(1\).jfif);
}

#body-h{
    color: white;
    margin: 0;
}

#body-h img{
    width: 100px;
    
}

#body-l{
    background-color: #212529;
}

.img-lateral{
     flex: 0 0 55%;            
    background-image: url(../img/Fundo-1.jpd.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    
    border-radius: 0px 35px 35px 0px;
    justify-content: center;
   display: flex;
   align-items: center;
}
.container2 {
      justify-content: center;
    align-items: center;
}
#body-c {
     background-color: #ffffff; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 0;
    background-image: url(../img/metro_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    align-items: center;
    justify-content: center;
}
.card-cadastro {
    background: #000000;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    max-width: 950px;
    width: 100%;
    color: white;
}

.titulo-pagina {
    font-weight: 700;
    color: #000000;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: white;
}

.subtitulo {
    font-size: 0.95rem;
    color: #000000;
    margin-bottom: 30px;
    color: white;
}

.form-label {
    font-weight: 500;
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: 6px;
    color: white;
}

.form-control {
    border: 1px solid #dee2e6;
    padding: 10px 12px;
    border-radius: 6px;
    transition: border-color 0.2s ease-in-out;
    color: white;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.15);
    color: white;
}

.btn-cadastrar {
    background-color: #0d6efd;
    border: none;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    transition: background-color 0.3s;
    color: white;
}

.btn-cadastrar:hover {
    background-color: #0b5ed7;
    color: white;
}



#body-w {
background-image: url(../img/chu_chu.jpg);
background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.title-6 {
    background-image: url(../img/RJ_Cristo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.text-6 {
    text
}

.hero-section {
    height:100vh;
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.7)0% rgba(8, 8, 8, 0)60%);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 1%;
    font-family: 'inter', sans-serif;
}

.content-wrapper{
    max-width: 800px;
}

h1{
    color: #ffffff;
    font-size: clamp(2.5rem, 10vw, 5.5rem);
    font-weight: 700;
    line-height: 0.95;
    margin-bottom: 40px;
    text-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.btn-main {
all: unset;
cursor: pointer;
background: rgba(255,255,255,0.1);
color: white;
padding: 20px 50px;
font-size: 1.2rem;
font-weight: 500;
border-radius: 50px;
border: 1px solid rgba(255,255,255,0.4);
backdrop-filter: blur(10px);
transition: all 0.3s ease;
box-shadow: 0 8px 32 px 0 rgba(0, 0, 0, 0.3);
}
.btn-main:hover {
    background-color: white;
    color: black;
    transform: translateY(-3px);
}

.blue{
    padding: 100px;
    background-color: rgb(99, 99, 99);
}
.yo{
    padding: 100px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
}

